# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/

# Test artifacts
reports/
allure-results/
allure-report/
allure-history/
screenshots/
videos/
traces/
test-results/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
